.wishlist {
    gap: 3rem;
}

.wishlist > h1 {
    align-self: center;
    border-bottom: 3px solid var(--secondary-color);
}

.wishlist-content {
    gap: 2rem;
}

.card-dismiss:hover {
    background: var(--light-black-9);
}

.card-dismiss > i {
    font-size: 1.5rem;
}